    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>My photographs</h2>
                    <p>I am learning the art of photography as well as editing. These are some of my photographs that i clicked from my phone on my department trip last year to Ratnagarh fort, Ahmednagar, Maharashtra.   </p>
                    <a href="https://photos.app.goo.gl/bTAp4vmeXNE6NdydA" class="btn btn-default btn-lg">View Photographs</a>
                </div>
            </div>
        </div>
    </section>